In [194]:
import pandas as pd

In [195]:
#csv path is purchase data (pdata)
csv_path="../Resources/purchase_data.csv"
pdata_df=pd.read_csv(csv_path)
pdata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
# player count - total # of players
player_count = len(pdata_df["SN"].unique())

# purchasing analysis (total) - number of unique items, avg purchase price, total # of purchases, total revenue
unique_items = len(pdata_df["Item Name"].unique())

avg_purchase_price = pdata_df["Price"].mean()

total_purchases = pdata_df["Item ID"].count()

pdata_df["Total Revenue"] = pdata_df.sum(axis=1)
total_revenue = sum(pdata_df["Total Revenue"])

In [197]:
#place into dataframe for total purchase analysis
purchase_analysis1_df = pd.DataFrame({"Total Players": [player_count],
                                      "# of Unique Items":[unique_items],
                                      "Avg Purchase Price": [round(avg_purchase_price, 2)],
                                      "Total # of Purchases":[total_purchases],
                                      "Total Revenue":[total_revenue]
                                      })
                                      
purchase_analysis1_df

,Total Players,# of Unique Items,Avg Purchase Price,Total # of Purchases,Total Revenue
0,576,179,3.05,780,395475.77

In [202]:
# gender demographics - % and count of male, % and count of female, % and count of other/nondisclosed
genders = pdata_df.groupby("Gender")

total_gender_count = genders.nunique()["SN"]

percentages = total_gender_count/player_count * 100

gender_demographic = pd.DataFrame({"Player Percentage": round(percentages, 1),
                                   "Gender Count": total_gender_count
})
gender_demographic.index.name = None
gender_demographic

                       Player Percentage  Gender Count
Female                              14.1            81
Male                                84.0           484
Other / Non-Disclosed                1.9            11

In [199]:
# purchasing analysis(gender) - sorting by each gender, include: purchase count, avge purchase count, total purchase value, avg purchase total per person by gender

In [200]:
# age demographics - break into bins of 4 years - purchase count, avg purchase price, total purchase value, avg purchase total per person by age group
### bins = [""]
### group_names = [""]
### df["Age Demographics"] = pd.cut(df[""])

In [201]:
## TOP 5s

# top spenders(whales) (the top 5) by total purchase value then list in table their sn, purchase count, avg purchase price, total purchase value

# most popular items (top 5)(by purchase count) sorted into table by item id, item name, purchase count, item price, total purchase value

# most profitable items (top 5)(by total purchase value) into table by item id, item name, purchase count, item price, total purchase value