In [15]:
import pandas as pd

In [16]:
#csv path is purchase data (pdata)
csv_path="../Resources/purchase_data.csv"
pdata_df=pd.read_csv(csv_path)
pdata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
#sorting dataframes 
# player count - total # of players
player_count = len(pdata_df["SN"].unique())

# purchasing analysis (total) - number of unique items, avg purchase price, total # of purchases, total revenue
unique_items = len(pdata_df["Item Name"].unique())
#avg_purchase_price =

In [28]:
#place into dataframe
purchase_analysis1_df = pd.DataFrame({"Total Players": [player_count],
                                      #"# of Unique Items":[],
                                      #"Avg Purchase Price": [],
                                      #"Total # of Purchases":[],
                                      #"Total Revenue":[]
                                      })
purchase_analysis1_df

   Total Players
0            576

In [18]:


# gender demographics - % and count of male, % and count of female, % and count of other/nondisclosed
# purchasing analysis(gender) - sorting by each gender, include: purchase count, avge purchase count, total purchase value, avg purchase total per person by gender

# age demographics - break into bins of 4 years - purchase count, avg purchase price, total purchase value, avg purchase total per person by age group
### bins = [""]
### group_names = [""]
### df["Age Demographics"] = pd.cut(df[""])

## TOP 5s

# top spenders(whales) (the top 5) by total purchase value then list in table their sn, purchase count, avg purchase price, total purchase value

# most popular items (top 5)(by purchase count) sorted into table by item id, item name, purchase count, item price, total purchase value

# most profitable items (top 5)(by total purchase value) into table by item id, item name, purchase count, item price, total purchase value