In [3]:
import pandas as pd

In [4]:
#csv path is purchase data (pdata)
csv_path="../Resources/purchase_data.csv"
heroes_df=pd.read_csv(csv_path)

In [5]:
# player count - total # of players
player_count = len(heroes_df["SN"].unique())

# purchasing analysis (total) - number of unique items, avg purchase price, total # of purchases, total revenue
unique_items = len(heroes_df["Item ID"].value_counts())

avg_purchase_price = heroes_df["Price"].mean()

total_purchases = heroes_df["Purchase ID"].count()

total_revenue = heroes_df["Price"].sum()

In [6]:
#place into dataframe for total purchase analysis
purchase_analysis1_df = pd.DataFrame({"Total Players": [player_count],
                                      "# of Unique Items":[unique_items],
                                      "Avg Purchase Price": [round(avg_purchase_price, 2)],
                                      "Total # of Purchases":[total_purchases],
                                      "Total Revenue":[total_revenue]
                                      })
purchase_analysis1_df

,Total Players,# of Unique Items,Avg Purchase Price,Total # of Purchases,Total Revenue
0,576,179,3.05,780,2379.77

In [7]:
# gender demographics - % and count of male, % and count of female, % and count of other/nondisclosed
genders = heroes_df.groupby("Gender")

total_gender_count = genders.nunique()["SN"]

percentages = total_gender_count/player_count * 100

gender_demographic = pd.DataFrame({"Player Percentage": round(percentages, 1),
                                   "Gender Count": total_gender_count
})
gender_demographic

                       Player Percentage  Gender Count
Gender
Female                              14.1            81
Male                                84.0           484
Other / Non-Disclosed                1.9            11

In [8]:
# purchasing analysis(gender) - sorting by each gender, include: purchase count, avge purchase count, total purchase value, avg purchase total per person by gender

gender_purchases_df = heroes_df.groupby('Gender')

person_count = gender_purchases_df['SN'].count()
person_count_df = pd.DataFrame(person_count)

# avg and sum
avg_price = gender_purchases_df['Price'].mean()
total_gender_purchases = gender_purchases_df['Price'].sum()
total_per_person = total_gender_purchases / person_count

# make a table
person_count_df["Avg Overall"] = round(avg_price,2)

gender_purchases_df = pd.DataFrame(person_count_df)

#renaming and adding columns
gender_purchases2_df.rename(columns={"SN": "Purchase Count"})
gender_purchases2_df["Total Purchase Value"] = total_gender_purchases
gender_purchases2_df["Avg. Total Per Person"] = round(total_per_person,2)

gender_purchases2_df

NameError: name 'gender_purchases2_df' is not defined

In [9]:
# age demographics - break into bins of 4 years
#clean things up
bathed_heroes_df = heroes_df.drop_duplicates("SN")

#bins
bins = [0,10,15,20,25,30,35,40,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

bathed_heroes_df["Age Range"] = pd.cut(bathed_heroes_df["Age"], bins, labels=group_names)
ages_df = bathed_heroes_df.groupby(["Age Range"])
ages_df = ages_df.count()

sorted_ages_df = ages_df[["Age"]]
sorted_ages_df

           Age
Age Range
<10         24
10-14       41
15-19      150
20-24      232
25-29       59
30-34       37
35-39       26
40+          7

In [10]:
# purchasing analysis (age) - purchase count, avg purchase price, total purchase value, avg purchase total per person by age group

age_purchases_df = heroes_df.groupby('Age')

ages_count = age_purchases_df['SN'].count()
ages_count_df = pd.DataFrame(ages_count)

# avg and sum
avg_prices = age_purchases_df['Price'].mean()
total_ages_purchases = age_purchases_df['Price'].sum()
total_per_age = total_ages_purchases / ages_count

# make a table
ages_count_df["Avg Overall"] = round(avg_prices,2)

age_purchases_df = pd.DataFrame(ages_count_df)

#renaming and adding columns
age_purchases2_df = age_purchases_df.rename(columns={"SN": "Purchase Count"})
age_purchases2_df["Total Purchase Value"] = total_ages_purchases
age_purchases2_df["Avg. Total Per Person"] = round(total_per_age,2)

age_purchases2_df.head()

#unsure of how to carry bin sorting to this one for some reason

     Purchase Count  Avg Overall  Total Purchase Value  Avg. Total Per Person
Age
7                 9         3.65                 32.89                   3.65
8                 8         3.25                 25.97                   3.25
9                 6         3.04                 18.27                   3.04
10                9         3.54                 31.83                   3.54
11                7         2.68                 18.79                   2.68

In [11]:
## TOP 5 SPENDERS
# top spenders (the top 5) by total purchase value then list in table their sn, purchase count, avg purchase price, total purchase value
top_spenders = heroes_df['SN'].groupby(heroes_df['SN']).count()

top_spenders= pd.DataFrame(top_spenders)
top_spenders.columns = ['Purchase Count']

top_spenders['Avg Purchase Price'] = round(heroes_df['Price'].groupby(heroes_df['SN']).mean(),2)
top_spenders['Total Purchase Value'] = heroes_df['Price'].groupby(heroes_df['SN']).sum()


top_spenders.sort_values(['Total Purchase Value'], ascending=False, inplace=True)

top_spenders['Avg Purchase Price'] = top_spenders['Avg Purchase Price']
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value']

top_spenders.head(5)

             Purchase Count  Avg Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.79                 18.96
Idastidru52               4                3.86                 15.45
Chamjask73                3                4.61                 13.83
Iral74                    4                3.40                 13.62
Iskadarya95               3                4.37                 13.10

In [12]:
## TOP 5 POPULAR ITEMS
# most popular items (top 5)(by purchase count) sorted into table by item id, item name, purchase count, item price, total purchase value

#define
items = heroes_df.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
items.columns = ["Purchase Count", "Total Purchase Value"]


items.reset_index(inplace=True)
items.set_index(['Item ID','Item Name'] ,inplace=True)

items = items[["Purchase Count", "Price", "Total Purchase Value"]]

most_popular_items = items.sort_values("Purchase Count", ascending=False)

most_popular_items["Price"] = most_popular_items["Price"] 
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"] 

most_popular_items.head(5)

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
82,Nirvana,9,4.90,44.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28

In [24]:
## TOP 5 MOST PROFITABLE ITEMS 
# most profitable items (top 5)(by total purchase value) into table by item id, item name, purchase count, item price, total purchase value

most_profitable_items = items.sort_values("Total Purchase Value", ascending=False)
most_profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80