In [47]:
import pandas as pd

In [48]:
#csv path is purchase data (pdata)
csv_path="../Resources/purchase_data.csv"
heroes_df=pd.read_csv(csv_path)

In [49]:
# player count - total # of players
player_count = len(heroes_df["SN"].unique())

# purchasing analysis (total) - number of unique items, avg purchase price, total # of purchases, total revenue
unique_items = len(heroes_df["Item ID"].value_counts())

avg_purchase_price = heroes_df["Price"].mean()

total_purchases = heroes_df["Purchase ID"].count()

total_revenue = heroes_df["Price"].sum()

In [50]:
#place into dataframe for total purchase analysis
purchase_analysis1_df = pd.DataFrame({"Total Players": [player_count],
                                      "# of Unique Items":[unique_items],
                                      "Avg Purchase Price": [round(avg_purchase_price, 2)],
                                      "Total # of Purchases":[total_purchases],
                                      "Total Revenue":[total_revenue]
                                      })
purchase_analysis1_df

,Total Players,# of Unique Items,Avg Purchase Price,Total # of Purchases,Total Revenue
0,576,179,3.05,780,2379.77

In [51]:
# gender demographics - % and count of male, % and count of female, % and count of other/nondisclosed
genders = heroes_df.groupby("Gender")

total_gender_count = genders.nunique()["SN"]

percentages = total_gender_count/player_count * 100

gender_demographic = pd.DataFrame({"Player Percentage": round(percentages, 1),
                                   "Gender Count": total_gender_count
})
gender_demographic

                       Player Percentage  Gender Count
Gender
Female                              14.1            81
Male                                84.0           484
Other / Non-Disclosed                1.9            11

In [81]:
# purchasing analysis(gender) - sorting by each gender, include: purchase count, avge purchase count, total purchase value, avg purchase total per person by gender

gender_purchases_df = heroes_df.groupby('Gender')

person_count = gender_purchases_df['SN'].count()
person_count_df = pd.DataFrame(person_count)

# avg and sum
avg_price = gender_purchases_df['Price'].mean()
total_gender_purchases = gender_purchases_df['Price'].sum()
total_per_person = total_gender_purchases / person_count

# make a table
person_count_df["Avg Overall"] = round(avg_price,2)

gender_purchases_df = pd.DataFrame(person_count_df)

#renaming and adding columns
gender_purchases2_df.rename(columns={"SN": "Purchase Count"})
gender_purchases2_df["Total Purchase Value"] = total_gender_purchases
gender_purchases2_df["Avg. Total Per Person"] = round(total_per_person,2)

gender_purchases2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [54]:
# age demographics - break into bins of 4 years - purchase count, avg purchase price, total purchase value, avg purchase total per person by age group
#clean things up
bathed_heroes_df = heroes_df.drop_duplicates("SN")

bins = [0,9,14,19,29,34,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

bathed_heroes_df["Age Range"] = pd.cut(bathed_heroes_df["Age"], bins, labels=groups)
ages_df = bathed_heroes_df.groupby(["Age Range"])

NameError: name 'groups' is not defined

In [55]:
## TOP 5s

# top spenders(whales) (the top 5) by total purchase value then list in table their sn, purchase count, avg purchase price, total purchase value

# most popular items (top 5)(by purchase count) sorted into table by item id, item name, purchase count, item price, total purchase value

# most profitable items (top 5)(by total purchase value) into table by item id, item name, purchase count, item price, total purchase value